@{
    ViewBag.Title = "Productos";
}

<div class="row">

    <div class="col-xl-12 col-lg-12">

        <div class="m-portlet m-portlet--mobile">

            <div class="m-portlet__head">

                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            @ViewBag.Title
                        </h3>
                    </div>
                </div>

                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <button data-toggle="modal" data-target="#modal-detalle" type="button" class="btn btn-primary">
                                <i class="la la-plus"></i>
                                <span>
                                    Nuevo
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="m-portlet__body">

                @*TABLA AQUI*@

            </div>

        </div>

    </div>

</div>
